/*
HERO BANNER
ABOUT
RESULTS
CONTACT
*/





/* Variables
  ============================= */
:root{
    --color-red: red;
    --color-white: #ffffff; 
    --color-black: #000000;
}

html{
    scroll-behavior: smooth;

}



/* HERO BANNER SECTION 
============================= */

.banner{
    background-image: url(/images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-left: -10px;
    margin-right: -10px;

    color: var(--color-white);
}


.header{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: -10px;
    padding: 5px;
}

.logo-banner{
    padding-top: 25px;

}

.navbar {
    display: flex;
    padding-top: 25px;
}

.navbar a{
    padding: 20px;;
}

.hero-text{
    padding-top: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.hero-text p{
    padding-top: 50px;
    width: 600px;
    text-align: center;

}

.button{
    padding: 1.5em;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 2em;
    cursor: pointer;
    width: 15em;
    border: var(--color-black);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;

}

.button:hover, .button:active{
    opacity: 0.9;
}

a:hover{
    color: #FF6565;
}


a {
    color: var(--color-white);
    text-decoration: none;
}


/* Responsive  
=====================*/

@media (max-width: 767px){

}

@media  (max-width: 480px){
    .hero-text{
        display: flex;
        flex-direction: column;
    }

     .banner{
        max-width: 100%;
        height: auto;
    }
}